<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
    <extension point="org.eclipse.core.expressions.definitions">
		<definition id="merlin.isadapter">
			<adapt type="org.eclipse.core.resources.IResource">
         		<test property="org.eclipse.core.resources.extension" value="adapters" />
         	</adapt>
         </definition>
	</extension>
	
	<extension point="org.eclipse.ui.handlers">
      <handler
            class="merlin.adaptive.handlers.AdaptersHandler"
            commandId="merlin.commands.adaptiveLang">
      </handler>
      <handler
            class="merlin.adaptive.handlers.AdaptersEvalHandler"
            commandId="merlin.commands.adaptiveLangEval">
      </handler>
   </extension>
	
	<extension point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/wand.png"
               id="merlin.menus"
               label="Merlin"
               mnemonic="M">
      		<category
            	id="merlin.commands.category"
            	name="Merlin Category">
      		</category>            
      		<command
                  commandId="merlin.commands.adaptiveLang"
                  id="merlin.menus.adaptiveLang"
                  label="Generate migration">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <reference
                           definitionId="merlin.isadapter">
                     </reference>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/wand.png"
               id="merlin.menus"
               label="Merlin"
               mnemonic="M">
            <category
                  id="merlin.commands.category"
                  name="Merlin Category">
            </category>
            <command
                  commandId="merlin.commands.adaptiveLangEval"
                  id="merlin.menus.adaptiveLangEval"
                  label="Evaluate migration">
               <visibleWhen
                     checkEnabled="false">
                  <iterate>
                     <reference
                           definitionId="merlin.isadapter">
                     </reference>
                  </iterate>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
